[run]
branch = false
include =
    */core/models.py
    */core/views/*.py
    */warehouse/models.py
    */warehouse/views.py
    */warehouse/inventory.py
    */warehouse/services/*.py
    */sales/models.py
    */sales/views.py
    */sales/sale_workflow.py

[report]
fail_under = 100
show_missing = true
skip_covered = false
